@import './base.css';

:root {
  --red: #ee4035;
  --yellow: #e6cf00;
  --green: #269f42;
  --gray: gray;
}

#app {
  height: 100vh;
  font-weight: normal;
  font-family: 'Montserrat-Black', Verdana, sans-serif
}

main{
  height:100vh;
  margin: 0 auto;
  font-weight: normal;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

button {
  font-family: 'Montserrat-Black', Verdana, sans-serif;
  color: var(--color-text);
}

button:hover {
  cursor: pointer;
  filter: brightness(95%);
}

button:active {
  cursor: pointer;
  filter: brightness(90%);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: relative;
}

.main-button {
  position: absolute;
  bottom: 0rem;
  align-self: center;
  background-color: white;
  border: 1px solid rgb(209, 213, 219);
  border-radius: .5rem;
  width: calc(100% - 2rem);
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.main-button-space {
  display: block;
  margin: 20px 0;
}

.gray {
  background-color: var(--gray);
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.list {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.listItem {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 213, 219);
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: -1px;
}

.listItemButton {
  position: relative;
  background-color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 0;
  text-align: left;
  height: 50px;
  width: 100%;
}

.selected .listItemButton {
  filter: brightness(90%);
}

.listItemAddButton {
  text-align: center;
  position: relative;
  background-color: var(--green);
  color: white;
  border: 1px solid rgb(209, 213, 219);
  box-sizing: border-box;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  margin-top: -1px;
}

.listItemId {
  padding: .75rem 1rem;
  width: fit-content;
}

.listItemName {
  padding: .75rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scroll {
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 30px;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

.scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-self: flex-end;
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 213, 219);
  border-radius: .5rem;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}