@import './base.css';

:root {
  --red: #ee4035;
  --yellow: #e6cf00;
  --green: #269f42;
  --gray: gray;
}

#app {
  height: 100vh;
  font-weight: normal;
  font-family: 'Montserrat-Black', Verdana, sans-serif
}

main{
  height:100vh;
  margin: 0 auto;
  font-weight: normal;
}

button:hover {
  cursor: pointer;
  filter: brightness(95%);
}

button:active {
  cursor: pointer;
  filter: brightness(90%);
}

.gray {
  background-color: var(--gray);
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

