[Unit]
Description=K-dPS Celery Worker
Requires=kdps-django.service
After=kdps-django.service

[Container]
Image=ghcr.io/hpi-sam/dps_training_k-celeryworker:latest
ContainerName=kdps-celeryworker
AutoUpdate=registry
Network=kdps.network
EnvironmentFile=/etc/kdps/.env.prod
Exec=/start-celeryworker

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
